body {
    color: #242828;
    background-color: whitesmoke;
    line-height: 1.6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0;
}

.menu {
    margin: 0 10%;
    padding: 0;
    color: #313737;

}
.menu a {
    display: inline-block;
    color: #313737;
    text-decoration: none;
    padding: 15px 35px;
}

.menu li {
    display: inline-block; 
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: white;
}

header {
    background-image: url(foto/uvodnifotka1.jpg);
    padding: 40px 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
} 

header-bazen {
    background-image: url(foto/uvodnibazen.JPEG);
    padding: 40px 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}


footer {
    background-color: #242828;
    color: #e7e7e8;
    text-align: center;
    padding: 5px 0;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.box {
    background-color: whitesmoke;
   padding: 20px;
   text-align: center;
   margin: 0;
   float: inline-start;
}
.box2 {
 color: whitesmoke;
 text-shadow: 1px 1px 2px black, 0 0 8px rgba(74, 133, 92, 0.818), 0 0 4px rgba(1, 68, 13, 0.727);
   padding: 20px;
   text-align: center;
   margin: 0;
   float: left;
}

.sluzba,
.omne {
    background-color: #d4dede;
}

.fotoomne {
    float: left;
   margin: 10px 50px 10px 0;
   width: 220px;
   border: 1px solid #242828;
}

.sluzby {
    padding: 0 20px;
    display: inline-block;
    overflow: auto;
    margin-left: 20%;
    
}
.fotobubliny {
    width: 150px;
    border-radius: 50%;

}